body{
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 20px;
    text-align: center;
}

section {
    margin: 20px;
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    text-align: center;
}

section article {
    padding: 10px;
    margin-bottom: 20px;
}

button {
    padding: 10px 20px;
    font-size: 1.0em;
    color: white;
    background-color: #4CAF50;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#greetingOutput {
    margin-top: 20px;
    font-size: 2.0em;
    color: white;
    border-radius: 20px;
    padding: 20px;
    background-color: #4CAF50;
}

section input {
    padding: 10px;
    font-size: 1.0em;
    border: 1px solid #ccc;
    border-radius: 5px;
}